extends partial/default.jade
block content
  section.HeroHome.bengkel-bg
    .absolute-centerBottom.u-marBot
      .Card.Container.u-padTall--2
        .u-textCenter
          p.u-marBot--2 Nikmati layanan service terbaik di bengkel rekanan kami di dekat anda.
        form(action="")
          
          input(class="Input" type="text" placeholder="Nama Kota")
          .u-marBot
          // button(class="Button Button--primary Button--block u-sizeFull" type="button") Cari bengkel Rekanan
          a.Button.Button--primary.Button--block.u-sizeFull(href="search.html") Cari bengkel Rekanan
