extends partial/default.jade
block content
  section.HeroHome.bg-car
    .HeroHome--mobileIntro
      .Container.Container--small.u-padAll.u-textCenter
        .Logo--medium.u-marBot
          img(src="asset/img/logo-s.svg", alt="")
        p Selamat Datang di acaotomate.com. Situs layanan yang memberikan kemudahan bagi nasabah atau calon nasabah ACA untuk membeli dan memperpanjang asuransi mobil secara online.
      .HeroHome--mobileNav
        .Container.Container--small.u-padAll.u-textCenter
          .pure-g
            .pure-u.u-sizeFull
              a(href="hitung.html").Button.Button--primary.u-sizeFull.u-marBot--half Pilih Premi
            .pure-u.u-sizeFull
              a(href="caribengkel.html").Button.Button--primary.u-sizeFull Bengkel Rekanan
        .Container.Container--small.u-textCenter.u-marBot--2
          a(href="#about") Informasi Lain
