extends partial/default.jade
block content
  section.u-marTop--3
    .pure-g
      .pure-u.u-sizeFull.u-lg-size1of3
        .u-padAll.u-padTall--half
          .PremiCard
            .PremiCard-title.u-size4of5.u-padAll
              h3 ACA Otomate
              p Khusus Jabodetabek, Bandung & Semarang
            .PremiCard-price.u-padAll.u-textRight
              h1 Rp.750.000 / thn
            .PremiCard-action
              .pure-g
                .pure-u.u-size1of2.u-lg-sizeFull
                  a(href="caribengkel.html").Button.Button--secondary.Button--noRound.u-sizeFull Informasi
                .pure-u.u-size1of2.u-lg-sizeFull
                  a(href="registrasi.html").Button.Button--primary.Button--noRound.u-sizeFull Registrasi
      .pure-u.u-sizeFull.u-lg-size1of3
        .u-padAll.u-padTall--half
          .PremiCard
            .PremiCard-title.u-size4of5.u-padAll
              h3 ACA Comprehensive
              p Untuk seluruh Indonesia
            .PremiCard-price.u-padAll.u-textRight
              h1 Rp.750.000 / thn
            .PremiCard-action
              .pure-g
                .pure-u.u-size1of2.u-lg-sizeFull
                  a(href="caribengkel.html").Button.Button--secondary.Button--noRound.u-sizeFull Informasi
                .pure-u.u-size1of2.u-lg-sizeFull
                  a(href="registrasi.html").Button.Button--primary.Button--noRound.u-sizeFull Registrasi
      .pure-u.u-sizeFull.u-lg-size1of3
        .u-padAll.u-padTall--half
          .PremiCard
            .PremiCard-title.u-size4of5.u-padAll
              h3 ACA Total Loss Only
              p Untuk seluruh Indonesia
            .PremiCard-price.u-padAll.u-textRight
              h1 Rp.750.000 / thn
            .PremiCard-action
              .pure-g
                .pure-u.u-size1of2.u-lg-sizeFull
                  a(href="caribengkel.html").Button.Button--secondary.Button--noRound.u-sizeFull Informasi
                .pure-u.u-size1of2.u-lg-sizeFull
                  a(href="registrasi.html").Button.Button--primary.Button--noRound.u-sizeFull Registrasi
