extends partial/default.jade
block content
  section.SearchAgain.u-padAll.u-marTop--3
    a.Button.Button--primary.u-sizeFull(href="") Pencarian Baru
  section.SearchResult
    ul.bg-white
      li.Media.u-padAll.list--bordered
        .Media-item.Media-item--left.u-size3of4.u-padRight
          h4 Wijaya Motor
          p.small Jalan Jenderal A.Yani A60 Bandung
          h5 Phone :
          p.small 022 - 123 45678
        .Media-item.Media-item--right.u-size1of4.text-grey
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE551;</i>
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE55B;</i>
      li.Media.u-padAll.list--bordered
        .Media-item.Media-item--left.u-size3of4.u-padRight
          h4 AUTO2000 Kiara Condong
          p.small Jalan Kiara Condong A60 Bandung
          h5 Phone :
          p.small 022 - 123 45678
        .Media-item.Media-item--right.u-size1of4.text-grey
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE551;</i>
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE55B;</i>
      li.Media.u-padAll.list--bordered
        .Media-item.Media-item--left.u-size3of4.u-padRight
          h4 AUTO2000 Suci
          p.small Jalan Suci A60 Bandung
          h5 Phone :
          p.small 022 - 123 45678
        .Media-item.Media-item--right.u-size1of4.text-grey
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE551;</i>
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE55B;</i>
      li.Media.u-padAll.list--bordered
        .Media-item.Media-item--left.u-size3of4.u-padRight
          h4 AUTO2000 Soekarno-Hatta
          p.small Jalan Soekarno-Hatta A60 Bandung
          h5 Phone :
          p.small 022 - 123 45678
        .Media-item.Media-item--right.u-size1of4.text-grey
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE551;</i>
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE55B;</i>
      li.Media.u-padAll.list--bordered
        .Media-item.Media-item--left.u-size3of4.u-padRight
          h4 AUTO2000 Soekarno-Hatta
          p.small Jalan Soekarno-Hatta A60 Bandung
          h5 Phone :
          p.small 022 - 123 45678
        .Media-item.Media-item--right.u-size1of4.text-grey
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE551;</i>
          a.Button.Button--square.Button--small(href="") <i class="material-icons">&#xE55B;</i>
