header.MainHeader

aside.SmallTopBar
  .SmallTopBar--left
    a.Button-Hamburger(href="index.html") <i class="material-icons">&#xE5D2;</i>
  .SmallTopBar--right
    a.Button.Button-Contact(href="contact.html") <i class="material-icons">&#xE551;</i>
